/* google font */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Poppins:ital@0;1&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;
}

/* header part */
.container{
    height: 600px;
}
.influencers{
    display: flex;
    
}
.container h2{
    padding-left: 80px;
    padding-top: 30px;
    font-size: 22px;
}
.influencer-part{
    width: 50%;
    padding-left: 80px;
    padding-top: 130px;
    
}
.influencer-part h1{
    font-size: 45px;
}
.influencer-part button{
    font-size: 18px;
    text-decoration: none;
    background-color: crimson;
    padding: 7px 10px;
    border-radius: 6px;
    
    color: ghostwhite;
}
.influencer-image{
    width: 50%;
}
.influencer-image img{
  padding-left: 70px;
}
/* main style */
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}
.main-container h3{
  text-align: center;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 37px;
    width: 1020px;
    margin-left: 90px;
    margin-top: 40px;
    border-radius: 3px;
}
.tumble img{
    width: 280px;
    height: 190px;
}
 .filled{
    color: orange;
}
.tumble-rank{
    display: flex;
    align-items: center;
    
   
}
.tumble-info h6{
    color: darkgray;
}
.tumble-pera{
    margin-left: 8px;
}
.blog{
    height: 350px;
    width: 300px;
   background-color:#ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 7px;
   
}
.tumble-info h6 , h2 , p{
    margin: 2px;
}
.ratings{
    margin-top: 140px;
    margin-left: 40px;
    width: 1000px;
    box-shadow: 5px 10px 40px #dfc3c3;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    border-radius: 11px;
    margin-bottom: 50px;

}
.rating-info{
    padding-left: 21px;
  color: black;
}

.rating{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 70px;
}
/* footer style */
.footer{
    margin-top: 170px;
    height: 200px;
    background-color: rgba(2, 5, 19, 0.801);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-info h2{
    color: seashell;
    margin-top: 35px;
}
.footer-info h5{
    margin-top: 5px;
    color: seashell;
   
}
.info-title{
    margin-left: 60px;
    margin-top: 5px;
    color: seashell;
}
.footer-icon{
    margin-left: 20px;
   color: orange;
   
}
.fa-skype{
   padding: 10px 25px;
    
}
.fa-instagram-square{
    padding: 10px 25px;
    
}